@import "../../../assets/bootstrap/variables-midnight-blue.scss";
@import "../../../assets/bootstrap/variables.scss";
.login-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
    background: $brand-primary;
	text-align: center;
	color: #fff;
	padding: 3em;
	.msg-error {
		color: #FFADAD;
	}
	.msg-info {
		color: #FBFFC7;
	}
	.col-lg-4{
		padding :0;
	}
	a {
		cursor: pointer;
	}
	.input-lg {
	    height: 46px;
	    padding: 10px 16px;
	    font-size: 18px !important;
	    line-height: 1.3333333;
	    border-radius: 0;
	}
	.input-underline {
	    background: 0 0;
	    border: none;
	    box-shadow: none;
	    border-bottom: 2px solid rgba(255,255,255,.5);
	    color: #FFF;
	    border-radius: 0;
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
	}
	.input-underline:focus {
	    border-bottom: 2px solid #fff;
	    box-shadow: none;
	}
    .input-underline:-webkit-autofill {
        box-shadow: 0 0 0px 1000px rgb(140, 147, 154) inset;
        -webkit-box-shadow: 0 0 0px 1000px rgb(140, 147, 154) inset;
        background-color: rgb(140, 147, 154) !important;
    }
	.rounded-btn{
		-webkit-border-radius: 50px;
		    	border-radius: 50px;
		color: rgba(255,255,255,0.8);
		background: $brand-primary;
		border: 2px solid rgba(255,255,255,0.8);
		font-size: 18px;
	    line-height: 40px;
	    padding: 0 25px;
	}
    .btn-progress {
        -webkit-animation: progress-bar-stripes 2s linear infinite;
        -o-animation: progress-bar-stripes 2s linear infinite;
        animation: progress-bar-stripes 2s linear infinite;
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px;
    }
    .dimmed {
        font-size: 13px;
        color: #A9AAB2;
    }
	.rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
		color: rgba(255,255,255,1);
		border: 2px solid rgba(255,255,255,1);
		outline: none;
	}

	h1 {
		font-weight: 300;
		margin-top: 20px;
    	margin-bottom: 10px;
    	font-size: 36px;
		small {
			color: rgba(255,255,255,0.7);
			font-size: 20px;
			font-weight: 300;
		}
	}

	.form-group {
        position: relative;
		padding: 8px 0;
		input::-webkit-input-placeholder {
		color: rgba(255,255,255,0.6) !important;
		}
		 
		input:-moz-placeholder { /* Firefox 18- */
		color: rgba(255,255,255,0.6) !important;  
		}
		 
		input::-moz-placeholder {  /* Firefox 19+ */
		color: rgba(255,255,255,0.6) !important;  
		}
		 
		input:-ms-input-placeholder {  
		color: rgba(255,255,255,0.6) !important;  
		}
		.left-underline {
			float: right;
			font-size: 10px;
			color: #959EA7;
		}
	}
    .hidden {
        opacity: 0;
        display: none;
    }
	.form-content {
		padding: 40px 0 0 0;
	}
	.form-content-next {
		padding: 0 0 40px 0;
        transition: opacity 0.1s linear, display 0.1ms linear;
        -moz-transition:opacity 0.1s linear, display 0.1ms linear;
        -webkit-transition:opacity 0.1s linear, display 0.1ms linear;
        -o-transition:opacity 0.1s linear, display 0.1ms linear;
	}
    .md-label {
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        bottom: 10px;
        color: hsla(0,0%,100%,.6);
        font-size: 18px !important;
        left: 15px;
        right: 0;
        pointer-events: none;
        position: absolute;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
    }
    .md-focused .md-label {
        color: #fff;
        font-size: 12px !important;
        bottom: 44px;
        left: 0;
        visibility: visible;
    }
    #register-trans {
        transition: opacity 0.3s linear, display 0.1ms linear;
        -moz-transition:opacity 0.3s linear, display 0.1ms linear;
        -webkit-transition:opacity 0.3s linear, display 0.1ms linear;
        -o-transition:opacity 0.3s linear, display 0.1ms linear;
    }
    #register-btn {
        transition: all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -webkit-transition:all 0.3s linear;
        -o-transition:all 0.3s linear;
        width: 100%;
        position: absolute;
    }
    #reset-btn {
        width: 100%;
        position: absolute;
    }
}
